---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPostPreview from '../components/BlogPostPreview.astro'

let posts = await Astro.fetchContent('./posts/*.md')
posts = posts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf())
---

<BaseLayout title="blog">
    <main>
        <h2>sometimes i write stuff on the internet</h2>
        {posts.map(p => <BlogPostPreview post={p} />)}
    </main>
</BaseLayout>

<style>
    main {
        grid-column: 1 / -1;
    }
</style>
