---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<main>
		<h1 class="text-4xl font-bold mb-8">hi, i'm ilya.</h1>
		<section class="my-4">
			<img alt="me" src="/assets/img/me.jpg" />
		</section>
		<section class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6 md:mt-20 mb-6">
			<div>
				<p class="text-4xl font-bold">i'm a transit nerd, software engineer, cat dad, and city dweller.</p>
				<p class="text-2xl mt-4">these are my cats.</p>
			</div>
			<div class="grid grid-cols-3 gap-4 items-stretch">
				<img alt="junior" src="/assets/img/junior.jpg" />
				<img alt="andy" src="/assets/img/andy.jpg" />
				<img alt="draco" src="/assets/img/draco.jpg" />
			</div>
		</section>
	</main>
</BaseLayout>
