---
import BaseLayout from '../layouts/BaseLayout.astro'

let posts = await Astro.fetchContent('./posts/*.md')
posts = posts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf())
---

<BaseLayout>
	<main>
		<h1>hi</h1>
		<p>index page text</p>
	</main>
</BaseLayout>
