---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="photos">
	<main>
		<h2 class="text-2xl font-bold mb-4">i take photos</h2>
		<p>photos page text</p>
	</main>
</BaseLayout>
