---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<main>
		<h1>photos</h1>
		<p>photos page text</p>
	</main>
</BaseLayout>

<style>
    main {
        grid-column: 1 / -1;
    }
</style>
