---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<main>
		<h2 class="text-xl font-bold">i take photos sometimes - these are some of them</h2>
		<p>photos page text</p>
	</main>
</BaseLayout>
