---
const buildSha = import.meta.env.BUILD_SHA
---
<footer class="mt-8">
    <div class="flex flex-row-reverse">
        <section>
            built with <a class="underline" target="_blank" href="https://astro.build">astro</a> &bull;
            build <a class="underline" href={`https://github.com/irubnich/ilya-pizza-astro/commit/${buildSha}`} target="_blank">{buildSha}</a>
        </section>
    </div>
</footer>
