---
const buildSha = import.meta.env.BUILD_SHA
---
<footer class="mt-8">
    <div class="flex flex-row-reverse">
        <section>
            built with <a class="underline" target="_blank" href="https://astro.build">astro</a> &bull;
            build {buildSha}
        </section>
    </div>
</footer>
