---
---

<footer>
    <div class="wrapper">
        <section>
            built with <a href="https://astro.build">astro</a>
        </section>
    </div>
</footer>

<style>
    footer {
        grid-column: 1 / -1;
    }

    .wrapper {
        display: flex;
        justify-content: right;
    }
</style>
