<footer class="mt-8">
    <div class="flex flex-row-reverse">
        <section>
            built with <a class="underline" target="_blank" href="https://astro.build">astro</a>
        </section>
    </div>
</footer>
