---
---

<header>
    <nav>
        <section class="left">
            <a href="/">ilya rubnich</a>
        </section>

        <section class="right">
            <a href="/photos">photos</a>
            <a href="/blog">blog</a>
            <!-- tw / ig? -->
        </section>
    </nav>
</header>

<style>
    a {
        color: black;
        text-decoration: none;
        font-size: 24px;
    }

    header {
        grid-column: 1 / -1;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .right a {
        margin: 0 5px;
    }
</style>
