<header class="mb-8 text-xl font-medium">
    <nav class="flex justify-between">
        <section>
            <a href="/">ilya rubnich</a>
        </section>

        <section class="space-x-3">
            <a href="/photos">photos</a>
            <a href="/blog">blog</a>
            <a href="https://twitter.com/irubnich" target="_blank">tw</a>
            <a href="https://www.instagram.com/rubnich.jpg/" target="_blank">ig</a>
        </section>
    </nav>
</header>
