---
---

<header>
    <nav>
        <section class="left">
            <a href="/">ilya rubnich</a>
        </section>

        <section class="right">
            <a href="/photos">Photos</a>
            <a href="/blog">Blog</a>
            <!-- tw / ig? -->
        </section>
    </nav>
</header>

<style>
    header {
        grid-column: 1 / -1;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
