---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const {title} = Astro.props
const name = 'ilya rubnich'
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
	    <link rel="icon" href="/favicon.png" />

        <title>{(title) ? `${title} - ${name}` : name}</title>
    </head>
    <body>
        <div class="wrapper">
            <Header />
            <main>
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>

<style>
    body {
        background-color: aqua;
    }
</style>
