---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const {title} = Astro.props
const name = 'ilya rubnich'
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
	    <link rel="icon" href="/favicon.png" />

        <title>{(title) ? `${title} - ${name}` : name}</title>
    </head>
    <body class="font-sans max-w-7xl mx-auto p-4">
        <Header />
        <slot />
        <Footer />
    </body>
</html>
